$background-color: #E2EBF5;
$panels-background-color: #FFFFFF;

$white: #FFFFFF;
$contrasted-white: #F5F7FF;

$light-blue: #3E66FB;
$blue: #3253D1;
$dark-blue: #253D96;

$light-grey: #FDFEFF;
$grey: #DADFE4;
$dark-grey: #B4BBC1;

$inactive-text: rgba(29, 36, 51, 65%);