$background-color: #E2EBF5;
$panels-background-color: #FFFFFF;

$white: #FFFFFF;
$contrasted-white: #F5F7FF;
$header-modal-background: #F8F9Fc;
$header-modal-border: #E1E6EF;
$input-border: #D9D9D9;
$placeholder-color: #B3B3B3;

$light-blue: #3E66FB;
$blue: #3253D1;
$dark-blue: #253D96;

$light-grey: #FDFEFF;
$grey: #DADFE4;
$dark-grey: #B4BBC1;

$grey-border: #5B5F64;
$dark-grey-border: #353739;

$text-grey: #5B5F64;

$inactive-text: rgba(29, 36, 51, 65%);