@use '../../styles/colors' as colors;

.custom-input {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid colors.$input-border;

  &::placeholder {
    color: colors.$placeholder-color;
  }

  &.input-error {
    border-color: red;
  }
}