@use '../../styles/colors' as colors;

.custom-input {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid colors.$input-border;

  &::placeholder {
    color: colors.$placeholder-color;
  }
}