@use '../../styles/colors' as colors;

.select-field {
  display: flex;
  flex-direction: column;
  gap: 5px;

  label {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
  }

  .input {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid colors.$input-border;
    appearance: none;
    background-image: url("../../assets/arrow.svg");
    background-repeat: no-repeat;
    background-position-x: 92%;
    background-position-y: center;

    &:invalid {
      color: colors.$placeholder-color;

      option {
        color: black;
      }
    }
  }

}
