@use '../../styles/colors' as colors;

.button-secondary {
  background-color: colors.$light-grey;
  padding: 8px;
  font-size: 12px;
  font-weight: 600;
  color: colors.$text-grey;
  border: 1px solid colors.$grey-border;
  border-radius: 6px;

  &:hover {
    background-color: colors.$grey;
  }

  &:focus {
    background-color: colors.$dark-grey;
    border-color: colors.$dark-grey-border;
  }
}